
build-TRIZContradictionMatrix-Android_for_armeabi_v7a_GCC_4_9_Qt_5_9_3_for_Android_armv7-Debug
build-TRIZContradictionMatrix-Android
build_triz
TRIZContradictionMatrix/ios-sources-native/appdelegate.mm.autosave
build-TRIZContradictionMatrix-Qt_5_9_3_for_iOS-Debug/TRIZContradictionMatrix.xcodeproj/Default-568h@2x.png
build-TRIZContradictionMatrix-Qt_5_9_3_for_iOS-Debug
TRIZContradictionMatrix/ios-sources-native/.DS_Store
TRIZContradictionMatrix/.DS_Store
build-TRIZContradictionMatrix-Qt_5_9_3_for_iOS-Debug
build-TRIZ11
build-TRIZ22
TRIZContradictionMatrix/android-sources-native/.idea
TRIZContradictionMatrix/TRIZContradictionMatrix.pro.user
TRIZContradictionMatrix/TRIZContradictionMatrix.pro.user.eb14293
debug_triz